$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;


$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$blue-normal: #35c711;
$blue-dark: #0e8b0a;
$blue-light: #50db44;

$gray-1: #777;

$gradient-green: linear-gradient(13deg, #0bca14ad 14%, rgb(0, 0, 0) 100%);

.color-gray {
    color: $gray-1;
}