// MENU

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 48px 16px;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
}

// CONTAINER

body::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #03f0c88c 14%, #010303 64%);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #044377 14%, #4503df 64%);
}
body::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
  border-radius: 10px;
  /* box-shadow: inset 7px 10px 12px 0px #f0f0f0; */
}

@media screen and (min-width: 768px) {
  body::-webkit-scrollbar-thumb {
    height: 10px;
  }
}

@media screen and (min-width: 360px) {
  body::-webkit-scrollbar {
    width: 7px;
    height: 13px;
  }
}

.menu-logo {
  transform: scale(0.2);
  filter: invert(0%) sepia(14%) saturate(95%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

#image16 {
  filter: invert(0%) sepia(14%) saturate(50%) hue-rotate(3deg) brightness(100%)
    contrast(100%);
}

.main-logo {
  transition: 1.4s ease;

  &:hover {
    animation: rotation 1.5s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.projects {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.relative {
  position: relative;
}

.container {
  max-width: 1220px;

  margin: 0 auto;

  padding: 24px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 85vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }

  .container {
    flex-direction: column;
  }
}

.container-item:nth-child(1) {
  flex-grow: 3;

  margin: 40px 0px;
}
.container-item:nth-child(2) {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0px;

  img {
    max-width: 400px;
  }
}

.bg-hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .svg-hero {
    transform: scale(1.5) rotate(25deg);
  }
}

@media screen and (max-width: 960px) {
  .svg-hero {
    transform: scale(2) rotate(25deg);
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid $black-light;
}

.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  a {
    &:hover {
      padding: 100px;
    }
    &:hover {
      & + .img-works {
        transform: translate(-50%, -50%) translate3d(0,0,0);
        opacity: 0.8;
        margin-left: 70px;
      }
    }
  }
}

.img-works {
  max-width: 720px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 1s ease;
  z-index: -1;
  transform: translate(-50%, -50%) translate3d(-2500px,0,0) skewX(30deg);
  opacity: 0;
}