// MENU

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;

  position: absolute;

  padding: 48px 16px;
}

.logo-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  .menu.active {
    align-items: center;
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    padding: inherit;
    z-index: 1;
    background: rgba(22, 21, 21, 0.979);
    height: 400px;
    position: fixed;
    transform: translateX(0%);
    width: 100%;
  }
  .menu.active .menu-logo {
    margin-top: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
  .menu-left.active {
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
    grid-template-rows: repeat(1, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 25px;
  }
  .menu-right.active {
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
    grid-template-rows: repeat(1, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .menu-left.active a, .menu-right.active a {
    padding: 18px 0px;
  }
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .menu {
    width: 75%;
    transform: translateX(18%);
  }
}

// CONTAINER

body::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #03f0038c 14%, #010303 64%);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #03f0a98c 14%, #010303 64%);
}
body::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
  border-radius: 10px;
  /* box-shadow: inset 7px 10px 12px 0px #f0f0f0; */
}

@media screen and (min-width: 768px) {
  body::-webkit-scrollbar-thumb {
    height: 10px;
  }
}

@media screen and (min-width: 360px) {
  body::-webkit-scrollbar {
    width: 7px;
    height: 13px;
  }
}

.menu-logo {
  transform: scale(0.2);
  filter: invert(0%) sepia(14%) saturate(95%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

// @media screen and (max-width: 768px) {
//   .menu {
//     position: absolute;
//   }
// }

// @media screen and (max-width: 960px) {
//   .menu-logo {
//     margin: 0 auto;
//     display: inline-block;
//     position: absolute;
//     margin-top: -120px;
//     transform: scale(0.2) translateX(115vw);
//   }
// }

@media screen and (min-width: 426px) and (max-width: 960px) {
  .menu-logo {
    display: none;
  }
  .logo-menu {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 100px;
    margin-bottom: -80px;
  }
  .logo-menu img {
    transform: scale(0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .menu {
    position: relative;
    padding: 0;
    margin: 0 auto;
  }
  .menu-logo {
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    margin-top: -55px;
    transform: scale(0.2) translateX(-10vw);
  }
}

#image16 {
  filter: invert(0%) sepia(14%) saturate(50%) hue-rotate(3deg) brightness(100%)
    contrast(100%);
}

.main-logo {
  transition: 1.4s ease;

  &:hover {
    animation: rotation 1.5s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.projects {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.relative {
  position: relative;
}

.container {
  max-width: 1220px;

  margin: 0 auto;

  padding: 24px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 100vh;
}

@media (max-width: 960px) {
  .hero {
    height: auto;
  }

  .container {
    flex-direction: column;
  }
}

.container-item:nth-child(1) {
  flex-grow: 3;
  max-width: 680px;

  margin: 40px 0px;
}
.container-item:nth-child(2) {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px 0px;

  img {
    max-width: 400px;
    display: none;
  }
}

@media (max-width: 1200px) {
  .container-item:nth-child(1) {
    flex-grow: 0.3;
  }
  .container-item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) {
  .container-item:nth-child(1) {
    flex-grow: 0;
  }
  .container-item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 425px) {
  .container-item:nth-child(1) {
    margin-left: -25%;
  }
  .container-item:nth-child(2) {
    display: none;
  }
}

.bg-hero {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;

  filter: opacity(0.4);
}

@media screen and (max-width: 1400px) {
  .svg-hero {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1200px) {
  .svg-hero {
    transform: scale(1.5) rotate(25deg);
  }
}

@media screen and (max-width: 960px) {
  .svg-hero {
    transform: scale(2) rotate(25deg);
  }
}

@media screen and (max-width: 425px) {
  .menu {
    padding: 0;
  }
  .hero {
    padding: 0;
  }
  .svg-hero {
    transform: scale(1.5) rotate(25deg);
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid $black-light;
}

.list-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  a {
    &:hover {
      padding: 100px;
    }
    &:hover {
      & + .img-works {
        transform: translate(-50%, -50%) translate3d(0,0,0);
        opacity: 0.8;
        margin-left: 70px;
      }
    }
  }
}

.img-works {
  max-width: 720px;
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: 1s ease;
  z-index: -1;

  transform: translate(-50%, -50%) translate3d(-2500px,0,0) skewX(30deg);
  opacity: 0;
}

.contact {
  max-width: 1200px;

  margin: 0 auto;
  padding: 16px 24px;
}

// Animation

#square1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 2s ease infinite alternate;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

#square3 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate3 5s ease infinite alternate;
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(27deg);
  }
}

#square2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate2 2s ease infinite alternate;
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

#square5 {
  display: none;
}