@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #dad7dd;
    overflow: hidden;
}

.background.active {
    background: #1f1d1d;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #8c00ff;
    top: 73%;
    left: 3%;
    animation-duration: 35s;
    animation-delay: -29s;
    transform-origin: 25vw -7vh;
    box-shadow: -2vmin 0 0.41138369376005524vmin currentColor;
}
.background span:nth-child(1) {
    color: #8c00ff;
    top: 67%;
    left: 18%;
    animation-duration: 15s;
    animation-delay: -38s;
    transform-origin: -12vw 17vh;
    box-shadow: 2vmin 0 0.43915255727821534vmin currentColor;
}
.background span:nth-child(2) {
    color: #8c00ff;
    top: 62%;
    left: 71%;
    animation-duration: 17s;
    animation-delay: -28s;
    transform-origin: 0vw -2vh;
    box-shadow: -2vmin 0 0.932723359383314vmin currentColor;
}
.background span:nth-child(3) {
    color: #8c00ff;
    top: 46%;
    left: 97%;
    animation-duration: 15s;
    animation-delay: -39s;
    transform-origin: 13vw 21vh;
    box-shadow: -2vmin 0 0.9313578054074816vmin currentColor;
}
.background span:nth-child(4) {
    color: #00d9ff;
    top: 82%;
    left: 54%;
    animation-duration: 49s;
    animation-delay: -17s;
    transform-origin: -13vw 2vh;
    box-shadow: -2vmin 0 0.8385037366054036vmin currentColor;
}
.background span:nth-child(5) {
    color: #8c00ff;
    top: 19%;
    left: 19%;
    animation-duration: 25s;
    animation-delay: -45s;
    transform-origin: -12vw 8vh;
    box-shadow: -2vmin 0 0.25801403582285953vmin currentColor;
}
.background span:nth-child(6) {
    color: #06db0d;
    top: 66%;
    left: 37%;
    animation-duration: 17s;
    animation-delay: -8s;
    transform-origin: 17vw -2vh;
    box-shadow: -2vmin 0 1.2207110366645495vmin currentColor;
}
.background span:nth-child(7) {
    color: #00d9ff;
    top: 6%;
    left: 34%;
    animation-duration: 29s;
    animation-delay: -42s;
    transform-origin: 6vw 8vh;
    box-shadow: 2vmin 0 1.0301947593440866vmin currentColor;
}
.background span:nth-child(8) {
    color: #06db0d;
    top: 87%;
    left: 31%;
    animation-duration: 45s;
    animation-delay: -41s;
    transform-origin: -10vw 11vh;
    box-shadow: -2vmin 0 1.2278896606583491vmin currentColor;
}
.background span:nth-child(9) {
    color: #8c00ff;
    top: 29%;
    left: 73%;
    animation-duration: 37s;
    animation-delay: -9s;
    transform-origin: -13vw -20vh;
    box-shadow: 2vmin 0 1.0996730299440622vmin currentColor;
}
.background span:nth-child(10) {
    color: #06db0d;
    top: 44%;
    left: 10%;
    animation-duration: 55s;
    animation-delay: -37s;
    transform-origin: -15vw 23vh;
    box-shadow: 2vmin 0 0.88607709157332vmin currentColor;
}
.background span:nth-child(11) {
    color: #06db0d;
    top: 78%;
    left: 74%;
    animation-duration: 19s;
    animation-delay: -25s;
    transform-origin: 23vw 13vh;
    box-shadow: -2vmin 0 0.4534742214542755vmin currentColor;
}
.background span:nth-child(12) {
    color: #00d9ff;
    top: 53%;
    left: 16%;
    animation-duration: 28s;
    animation-delay: -47s;
    transform-origin: 19vw 4vh;
    box-shadow: 2vmin 0 0.6609127677702558vmin currentColor;
}
.background span:nth-child(13) {
    color: #00d9ff;
    top: 31%;
    left: 46%;
    animation-duration: 29s;
    animation-delay: -28s;
    transform-origin: 12vw -5vh;
    box-shadow: -2vmin 0 0.38347232247383656vmin currentColor;
}
.background span:nth-child(14) {
    color: #8c00ff;
    top: 85%;
    left: 47%;
    animation-duration: 34s;
    animation-delay: -9s;
    transform-origin: 23vw 14vh;
    box-shadow: 2vmin 0 0.5029146021471438vmin currentColor;
}
.background span:nth-child(15) {
    color: #00d9ff;
    top: 54%;
    left: 19%;
    animation-duration: 35s;
    animation-delay: -44s;
    transform-origin: 4vw 24vh;
    box-shadow: -2vmin 0 0.9966782136307573vmin currentColor;
}
.background span:nth-child(16) {
    color: #00d9ff;
    top: 64%;
    left: 16%;
    animation-duration: 11s;
    animation-delay: -7s;
    transform-origin: 20vw 21vh;
    box-shadow: -2vmin 0 1.2211813899202857vmin currentColor;
}
.background span:nth-child(17) {
    color: #8c00ff;
    top: 39%;
    left: 2%;
    animation-duration: 29s;
    animation-delay: -15s;
    transform-origin: 9vw 21vh;
    box-shadow: -2vmin 0 0.251326116003437vmin currentColor;
}
.background span:nth-child(18) {
    color: #8c00ff;
    top: 4%;
    left: 2%;
    animation-duration: 16s;
    animation-delay: -20s;
    transform-origin: 23vw -8vh;
    box-shadow: -2vmin 0 0.6015025361578914vmin currentColor;
}
.background span:nth-child(19) {
    color: #06db0d;
    top: 71%;
    left: 81%;
    animation-duration: 49s;
    animation-delay: -17s;
    transform-origin: 13vw -17vh;
    box-shadow: -2vmin 0 1.2195588496297918vmin currentColor;
}
.background span:nth-child(20) {
    color: #8c00ff;
    top: 40%;
    left: 98%;
    animation-duration: 39s;
    animation-delay: -45s;
    transform-origin: -17vw -1vh;
    box-shadow: -2vmin 0 0.44166081229304965vmin currentColor;
}
.background span:nth-child(21) {
    color: #8c00ff;
    top: 77%;
    left: 55%;
    animation-duration: 24s;
    animation-delay: -41s;
    transform-origin: 13vw 25vh;
    box-shadow: -2vmin 0 0.5974618656692785vmin currentColor;
}
.background span:nth-child(22) {
    color: #00d9ff;
    top: 26%;
    left: 61%;
    animation-duration: 10s;
    animation-delay: -23s;
    transform-origin: 2vw -1vh;
    box-shadow: -2vmin 0 0.26502763623610726vmin currentColor;
}
.background span:nth-child(23) {
    color: #00d9ff;
    top: 92%;
    left: 46%;
    animation-duration: 18s;
    animation-delay: -29s;
    transform-origin: 17vw -6vh;
    box-shadow: -2vmin 0 1.0258062415295215vmin currentColor;
}
.background span:nth-child(24) {
    color: #00d9ff;
    top: 13%;
    left: 3%;
    animation-duration: 31s;
    animation-delay: -35s;
    transform-origin: 9vw 18vh;
    box-shadow: -2vmin 0 1.1016028676848508vmin currentColor;
}
.background span:nth-child(25) {
    color: #8c00ff;
    top: 57%;
    left: 9%;
    animation-duration: 53s;
    animation-delay: -19s;
    transform-origin: -19vw 19vh;
    box-shadow: -2vmin 0 0.8741665316287528vmin currentColor;
}
.background span:nth-child(26) {
    color: #00d9ff;
    top: 71%;
    left: 56%;
    animation-duration: 20s;
    animation-delay: -3s;
    transform-origin: -4vw 6vh;
    box-shadow: 2vmin 0 0.7475587748142469vmin currentColor;
}
.background span:nth-child(27) {
    color: #8c00ff;
    top: 12%;
    left: 71%;
    animation-duration: 7s;
    animation-delay: -44s;
    transform-origin: 20vw 14vh;
    box-shadow: -2vmin 0 0.7105288900143287vmin currentColor;
}
.background span:nth-child(28) {
    color: #00d9ff;
    top: 80%;
    left: 4%;
    animation-duration: 25s;
    animation-delay: -27s;
    transform-origin: -24vw -16vh;
    box-shadow: 2vmin 0 0.5107843192697707vmin currentColor;
}
.background span:nth-child(29) {
    color: #8c00ff;
    top: 52%;
    left: 81%;
    animation-duration: 18s;
    animation-delay: -9s;
    transform-origin: -4vw -23vh;
    box-shadow: 2vmin 0 0.5300558991878077vmin currentColor;
}
.background span:nth-child(30) {
    color: #00d9ff;
    top: 18%;
    left: 24%;
    animation-duration: 37s;
    animation-delay: -36s;
    transform-origin: -4vw -19vh;
    box-shadow: 2vmin 0 0.5715614742712627vmin currentColor;
}
.background span:nth-child(31) {
    color: #06db0d;
    top: 50%;
    left: 49%;
    animation-duration: 7s;
    animation-delay: -27s;
    transform-origin: 13vw 2vh;
    box-shadow: 2vmin 0 0.45451372200135887vmin currentColor;
}
.background span:nth-child(32) {
    color: #8c00ff;
    top: 33%;
    left: 35%;
    animation-duration: 52s;
    animation-delay: -8s;
    transform-origin: -4vw -8vh;
    box-shadow: 2vmin 0 0.3769678004469108vmin currentColor;
}
.background span:nth-child(33) {
    color: #06db0d;
    top: 52%;
    left: 18%;
    animation-duration: 9s;
    animation-delay: -49s;
    transform-origin: 17vw 11vh;
    box-shadow: 2vmin 0 1.0887667782989405vmin currentColor;
}
.background span:nth-child(34) {
    color: #8c00ff;
    top: 45%;
    left: 45%;
    animation-duration: 33s;
    animation-delay: -33s;
    transform-origin: 2vw 18vh;
    box-shadow: -2vmin 0 0.4615738885950713vmin currentColor;
}
.background span:nth-child(35) {
    color: #06db0d;
    top: 84%;
    left: 79%;
    animation-duration: 15s;
    animation-delay: -22s;
    transform-origin: 24vw 4vh;
    box-shadow: 2vmin 0 1.1715134991352367vmin currentColor;
}
.background span:nth-child(36) {
    color: #06db0d;
    top: 2%;
    left: 42%;
    animation-duration: 28s;
    animation-delay: -27s;
    transform-origin: 5vw 12vh;
    box-shadow: 2vmin 0 0.7203797487319026vmin currentColor;
}
.background span:nth-child(37) {
    color: #8c00ff;
    top: 82%;
    left: 96%;
    animation-duration: 47s;
    animation-delay: -22s;
    transform-origin: 19vw 10vh;
    box-shadow: -2vmin 0 0.6329615176308288vmin currentColor;
}
.background span:nth-child(38) {
    color: #00d9ff;
    top: 23%;
    left: 93%;
    animation-duration: 54s;
    animation-delay: -46s;
    transform-origin: 15vw -19vh;
    box-shadow: 2vmin 0 0.4773843192682301vmin currentColor;
}
.background span:nth-child(39) {
    color: #8c00ff;
    top: 12%;
    left: 18%;
    animation-duration: 46s;
    animation-delay: -13s;
    transform-origin: 18vw 19vh;
    box-shadow: -2vmin 0 0.8422876076318528vmin currentColor;
}
.background span:nth-child(40) {
    color: #06db0d;
    top: 39%;
    left: 30%;
    animation-duration: 33s;
    animation-delay: -41s;
    transform-origin: 11vw 24vh;
    box-shadow: -2vmin 0 0.407696058319839vmin currentColor;
}
.background span:nth-child(41) {
    color: #00d9ff;
    top: 48%;
    left: 85%;
    animation-duration: 39s;
    animation-delay: -30s;
    transform-origin: -16vw 11vh;
    box-shadow: -2vmin 0 0.3819576200293828vmin currentColor;
}
.background span:nth-child(42) {
    color: #06db0d;
    top: 28%;
    left: 71%;
    animation-duration: 13s;
    animation-delay: -43s;
    transform-origin: 20vw 3vh;
    box-shadow: -2vmin 0 0.9317805500721332vmin currentColor;
}
.background span:nth-child(43) {
    color: #06db0d;
    top: 35%;
    left: 29%;
    animation-duration: 34s;
    animation-delay: -31s;
    transform-origin: -8vw -18vh;
    box-shadow: -2vmin 0 1.249617164013951vmin currentColor;
}
.background span:nth-child(44) {
    color: #06db0d;
    top: 35%;
    left: 43%;
    animation-duration: 18s;
    animation-delay: -45s;
    transform-origin: 13vw 17vh;
    box-shadow: -2vmin 0 0.3294273016525582vmin currentColor;
}
.background span:nth-child(45) {
    color: #00d9ff;
    top: 59%;
    left: 19%;
    animation-duration: 27s;
    animation-delay: -18s;
    transform-origin: -13vw -4vh;
    box-shadow: -2vmin 0 0.8396552538728144vmin currentColor;
}
.background span:nth-child(46) {
    color: #06db0d;
    top: 61%;
    left: 40%;
    animation-duration: 24s;
    animation-delay: -14s;
    transform-origin: -18vw 11vh;
    box-shadow: 2vmin 0 0.5373627973364892vmin currentColor;
}
.background span:nth-child(47) {
    color: #06db0d;
    top: 9%;
    left: 31%;
    animation-duration: 18s;
    animation-delay: -50s;
    transform-origin: -4vw -14vh;
    box-shadow: -2vmin 0 0.27115182140370053vmin currentColor;
}
.background span:nth-child(48) {
    color: #8c00ff;
    top: 17%;
    left: 80%;
    animation-duration: 23s;
    animation-delay: -12s;
    transform-origin: -20vw -10vh;
    box-shadow: -2vmin 0 0.2767697993969649vmin currentColor;
}
.background span:nth-child(49) {
    color: #06db0d;
    top: 69%;
    left: 88%;
    animation-duration: 16s;
    animation-delay: -5s;
    transform-origin: -2vw 21vh;
    box-shadow: 2vmin 0 0.5514844501941267vmin currentColor;
}