/*
--------------------------------------------
ESTRUTURAÇÃO BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA


fundo darkmode: #19232f
fundo info sobre darkmode: #2d3846
fundo footer darkmode: #131a23
textos darkmode: #e4e4e4
borda darkmode: #9fb1c7

*/

/* VARIAVEIS */

:root {
  --strong-color: rgb(120, 240, 234);
}

/* Fontes */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Zen Loop', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Poppins:wght@100;200;300;400&family=Zen+Loop:ital@1&display=swap");

/*GERAL*/
html,
body,
figure,
img,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
}

.row {
}

.column {
}

.column-left {
}

.column-right {
}

.hidden {
  display: none;
}
.en {
  display: none;
}
.pt {
  display: block;
}


.fade {
  animation: fade .4s linear forwards;
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.divider {
  display: none;
}


.social {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(191deg) brightness(125%) contrast(112%);
  transition: all 0.3s ease-in-out 0s;
}
.me {
  filter: inherit;
}
.social:hover {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.social.active {
  filter: invert(0%) sepia(6%) saturate(20%) hue-rotate(244deg) brightness(109%)
    contrast(97%);
}

.social.active:hover {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

/* BODY */
body {
  overflow: hidden;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(253,800,383)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23969696'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='725' height='604.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body.active {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(84,800,383)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%231c1c1c'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='725' height='604.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* PÁGINA INICIAL */

main {
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
main .container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}
main::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
main::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #947699 14%, #4d58a8 64%);
  border-radius: 10px;
}
main::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}
main::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
  border-radius: 10px;
  /* box-shadow: inset 7px 10px 12px 0px #f0f0f0; */
}
main .container-column {
  padding: 30px;
}
main .row {
}
main .column {
}
main .column-left {
}
main .column-right {
  transition: all 0.3s ease-in-out 0s;
}
.background {
  z-index: -1;
}

.contact-info {
}
.contact-info-image {
  text-align: center;
}
/* .image {
    transform: scale(0.9,1);
} */
.contact-info-image img {
  width: 100%;
  max-width: 160px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 20px 30px;
  border: 1px outset #ddd;
}

.contact-info-description {
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
}
.contact-info-description h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.contact-info-description h1.full-name {
  display: none;
}
.contact-info-description h2.full-role {
  display: none;
}
.contact-info-description h2.full-role-en {
  display: none;
}
.contact-info-description h2 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 25px;
}
.contact-info-description ul {
  margin-top: 20px;
}
.contact-info-description ul li {
  margin-bottom: 10px;
}
.contact-info-description ul li a {
  font-size: 14px;
  color: inherit;
  cursor: pointer;
}
.contact-info-description ul li a:hover {
  text-decoration: underline;
  color: aqua;
}
.info-about {
  margin-bottom: 35px;
}

.dark {
  display: flex;
  transform: translateX(40%);
}

#toggleDarkLabel {
  width: 40px;
  height: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  display: flex;
  background-color: #111;
  border-radius: 50px;
  position: relative;
  float: right;
  margin-bottom: 8px;
  border: 1px solid rgb(160, 144, 144);
  transform: scale(0.9, 0.9);
}

.toggleDark {
  opacity: 0;
  position: absolute;
}

.darkModeToggle {
  background-color: #ddd;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  top: 2px;
  left: 2px;
  position: absolute;
  vertical-align: middle;
  transition: transform 0.2s linear;
}

.toggleDark:checked + .toggleDarkLabel .darkModeToggle {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* Active CLASSES */

.contact-info-description.active {
  color: #fff;
}
main section.active,
main section p.active {
  color: #e4e4e4;
}

/* .contact-info-switch {
  margin-top: 30px;
}
.contact-info-switch label {
  width: 50px;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  background-color: #111;
  border-radius: 50px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  transform: scale(0.9, 0.9);
  display: block;
  background: #3d6394;
  border-radius: 20px;
  padding: 5px;
  margin: 0 auto;
}
.contact-info-switch label span {
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: 100%;
  background: #d9e2ee;
  transition: all 0.3s ease-in-out 0s;
} */

section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 24px 3px -24px #171718;
  transition: all 0.3s ease-in-out 0s;
}
section h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #171718;
}
section h2.active {
  color: var(--strong-color);
}
section h4 {
  font-size: 1rem;
}
section h3 {
  font-weight: bolder;
  font-size: 1.1rem;
  text-shadow: 3px -1px 14px rgba(18, 18, 19, 0.493);
}
section h6 b {
  font-size: 0.9rem;
  margin-right: 0.4rem;
  text-decoration: underline;
}
section h6 {
  font-size: 0.8rem;
}
section p {
  font-size: 15px;
  color: #000000;
  line-height: 22px;
  transition: all 0.3s ease-in-out 0s;
}
section ul {
}
section ul li {
  margin-bottom: 10px;
}
section ul li p {
}
section ul li a {
}
section ul li h3 {
}
section ul li strong {
  font-weight: 500;
  font-size: 14px;
}

.end {
  margin-left: 0.4rem;
}

.portfolio {
}
.portfolio-profile {
}
.portfolio-profile h2 {
}
.portfolio-profile p {
}

.portfolio-skills {
  /* text-align: center; */
}
.portfolio-skills h2 {
}
.skills-content {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  grid-template-rows: repeat(4, 1fr);
  /* margin-bottom: -55%; */
  padding: 10px 0;
}
.skills-content a {
  margin-right: 20px;
  display: inline;
  padding: 0;
  padding-bottom: 2px;
}
.skills-content span {
  display: inline-block;
  height: 25px;
  border-radius: 8px;
  text-align: center;
  margin-left: -50%;
  width: 100px;
  margin-right: 15%;
  padding: 0 5px;
  transform: translateY(55%);
  background: #111;
  color: #ddd;
  position: relative;
  transition: .5s opacity;
  opacity: 0;
}
.skills-content a:hover + span {
  opacity: 1;
}
.skills-content span.active {
  background: #ddd;
  color: #111;
}
.skills-content span::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  background: #111;
  z-index: -1;
  left: -2%;
  transform: translateY(100%) rotate(45deg);
}
.skills-content span.dark-test::after {
  background: #ddd;
}
.list2 {
  margin-left: 5rem;
}
/* .portfolio-skills ul li {
  display: inline-grid;
  grid-template-columns: 3fr 0fr 0fr 1fr;
} */
.portfolio-skills ul li p {
}
.skills-content a img {
  transition: .5s ease;
  margin: 5px 0;
}
.skills-content a.git-img-svg {
  /* padding-top: 5px; */
}
.skills-content a img:hover {
  box-shadow: 1px 1px 1px 1px #111;
  border-radius: 8px;
}
.skills-content a img.active:hover {
  box-shadow: 1px 1px 1px 1px rgba(221, 220, 220, 0.459);
  border-radius: 8px;
}
/* .img-skills:hover {
  display: block;
  background-color: #111;
} */

.portfolio-formation {
}
.portfolio-formation h2 {
  padding: 5px 0;
}
.portfolio-formation h4 {
  color: #313133;
  font-weight: 600;
  margin: 5px 0;
}
.portfolio-formation h4.active {
  color: #e0e0eb;
}
.portfolio-formation ul {
}
.portfolio-formation ul li {
  padding: 0.7rem 0;
}
.portfolio-formation ul li b {
  color: #171718;
}
.portfolio-formation ul li b.active {
  color: var(--strong-color);
}
.portfolio-formation ul li p {
  padding: 2px 0;
}

.portfolio-experience {
  margin-bottom: 0;
  border: none;
}
.portfolio-experience h2 {
}
.portfolio-experience h3 {
  color: #171718;
}
.portfolio-experience h6 {
  margin: 5px 0;
}
.portfolio-experience p {
  margin: 5px 0;
}
.portfolio-experience h3.active {
  color: var(--strong-color);
}
.portfolio-experience ul {
  padding: 5px 0px;
}
.portfolio-experience ul li {
  padding: 5px 0px;
}
.portfolio-experience ul li h3 {
}
.portfolio-experience ul li strong {
}
.portfolio-experience ul li p {
}
.portfolio-experience strong {}

/* FOOTER */

.SNS {
}
.me.active {
  filter: brightness(0) invert(1);
}
.SNS-list {
  text-align: center;
  padding: 0;
  margin: 0;
}
.SNS-list-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.SNS-list-item:hover > span {
  opacity: 1;
}
.SNS-list-item span.active {
  background: #ddd;
  color: #111;
}
.SNS-list-item span {
  position: relative;
  display: flex;
  background: #111;
  border-radius: 8px;
  color: #ddd;
  padding: 2px 4px;
  margin: 5px 0;
  text-decoration: none;
  font-size: 13px;
  transition: .6s opacity;
  opacity: 0;
}
.SNS-list-item span.dark-mode-test::before {
  background: #ddd;
}
.SNS-list-item span::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  background: #111;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.SNS-list-item img {
  width: 100%;
  max-width: 20px;
}
.SNS-list-item img.me {
  max-width: 25px;
}
/* @MEDIA QUERIES */

@media screen and (min-width: 768px) {
  main .row {
    display: flex;
    flex-flow: row wrap;
  }
  main .column-left {
    flex-basis: 35%;
  }
  main .column-right {
    flex-basis: 65%;
  }
  main::-webkit-scrollbar {
    width: 7px;
    height: 13px;
  }
  main::-webkit-scrollbar-thumb {
    height: 10px;
  }
}

@media screen and (max-width: 420px) {
  main::-webkit-scrollbar {
    width: 7px;
    height: 13px;
  }
  .end {
    display: none;
  }
  main {
    top: 0px;
  }
  .portfolio-skills h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .SNS-list-item span {
    margin: 0;
    padding: 0 3px;
  }
  .skills-content {
    grid-template-columns: repeat(2, 2fr) repeat(2, 2fr);
    column-gap: 20px;
  }
  .skills-content span {
    transform: translateY(55%);
    /* vertical-align: middle; */
    font-size: 13px;
    margin-left: -20%;
    margin-right: 40%;
    opacity: 0.799;
    width: 75px;
    background: rgb(31, 29, 29);
    line-height: 25px;
  }
  .skills-content span::after {
    background: rgb(31, 29, 29);
  }
  .skills-content span.active {
    color: #ddd;
    margin-left: -10px;
    margin-right: 35%;
  }
  .skills-content a {
    margin-left: -20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1038px) {
  .SNS-list {
    display: flex;
  }
  .SNS-list-item a {
    padding: 0;
  }
  .SNS-list-item span {
    padding: 1px 1px;
  }
  .me {
    transform: translateY(-3px);
  }
}
